h1{
    font-size: 80px;
    color: red;
    margin: 0 auto;
    width: fit-content;
}

body{
    background-color:black;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
